<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>Product Registration Form</h2>
    </div>

    <form action="item.html" th:action th:object="${item}" method="post">
        <div>
            <label for="itemName">Product Name</label>
            <input type="text" id="itemName" th:field="*{itemName}" class="form-control" placeholder="Enter the name">
        </div>
        <div>
            <label for="price">Price</label>
            <input type="text" id="price" th:field="*{price}" class="form-control"
                   placeholder="Enter the price">
        </div>
        <div>
            <label for="quantity">Quantity</label>
            <input type="text" id="quantity" th:field="*{quantity}" class="form-control"
                   placeholder="Enter the quantity">
        </div>

        <!-- SELECT -->
        <div>
            <div>Delivery Method</div>
            <select th:field="*{deliveryCode}" class="form-select">
                <option value="">==Select Delivery Method==</option>
                <option th:each="deliveryCode : ${deliveryCodes}" th:value="${deliveryCode.code}"
                        th:text="${deliveryCode.displayName}">FAST</option>
            </select>
        </div>


        <hr class="my-4">

        <!-- single checkbox -->
        <div>Sale Status</div>
        <div>
            <div class="form-check">
                <input type="checkbox" id="open" name="open" class="form-check-input">
                <input type="hidden" name="_open" value="on"/> <!-- Additional hidden input -->
                <label for="open" class="form-check-label">Open for Sale</label>
            </div>
        </div>

        <!-- multi checkbox -->
        <div>
            <div>Registered Regions</div>
            <div th:each="region : ${regions}" class="form-check form-check-inline">
                <input type="checkbox" th:field="*{regions}" th:value="${region.key}" class="form-check-input">
                <label th:for="${#ids.prev('regions')}" th:text="${region.value}" class="form-check-label">Seoul</label>
            </div>
        </div>

        <!-- radio button -->
        <div>
            <div>Item type</div>
            <div th:each="type : ${itemTypes}" class="form-check form-check-inline">
                <input type="radio" th:field="*{itemType}" th:value="${type.name()}" class="form-check-input">
                <label th:for="${#ids.prev('itemType')}" th:text="${type.description}" class="form-check-label">
                    BOOK
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">Register Product</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/form/items}'|"
                        type="button">Cancel
                </button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>
